{% extends "base_vacia.html" %}

{% block title %}Reseteo de Contraseña{% endblock title %}

{% block content %}


<form method="post" action="{% url "django.contrib.auth.views.password_reset" %}">
    {% csrf_token %}
    <p>Introduzca su dirección de correo electrónico. <br/>
         Usted recibirá un enlace para crear una nueva contraseña por correo electrónico</p>
                    
    <input type="email" name="email" 
        placeholder="Su e-mail">

    <button  class="btn btn-success" type="submit">Enviar</button>
</form>
{% endblock content %}