{% extends "base_vacia.html" %}

{% block title %}Formulario de restablecimiento de contraseña{% endblock title %}

{% block content %}
<h4>Recetear Contraseña</h4>
    
<p>¿Olvidó su contraseña? 
    Introduzca su dirección de correo electrónico a continuación, 
    y nosotros enviaremos un correo electrónico instrucciones para configurar uno nuevo.</p>
                
<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
    <div class="message red-gradient">{{ form.email.errors }}</div><br/>
    {% endif %}
            
    <p>E-mail: {{ form.email }} <br/><br/>
       <input type="submit" value="Reset my password"></p>
</form>
{% endblock content %}