{% extends "base_vacia.html" %}

{% block title %}Establecer nueva contraseña{% endblock title %}

{% block content %}
<h2>Establecer nueva contraseña</h2>

<form action="" method="post">
    {% csrf_token %}
    {% if validlink %}
        <p>Introduzca su nueva contraseña dos veces. <br/>
            Así podemos comprobar que ha escrito la forma adecuada</p>
                
        <p>
            {{ form.new_password1.errors }}<br/>
            Nueva contraseña
            {{ form.new_password1 }}
        </p>
                
        <p class="button-height">
            {{ form.new_password2.errors }}<br/>
            Repetir contraseña
            {{ form.new_password2 }}
        </p>
    {% else %}
        <h4>Restablecimiento de contraseñas fallido</h4>
        <p>El enlace para restablecer la contraseña no es válida, <br/>
            posiblemente debido a que ya se ha utilizado. <br/>
            Por favor, solicite un nuevo restablecimiento de contraseña.</p><br/>
    {% endif %}
            
    <button class="btn btn-primary" type="submit">Cambiar mi contraseña</button>
</form>
{% endblock content %}