{% extends "base.html" %}
{%block title%}CD Manager{% endblock %}

{% block content %}
<!--
    <input name="submit" type="submit" class="btn" value="Entrar" />
-->
    <section style="padding-bottom:300px">
    <div class="main_view">
        <div class="window">
            <div class="image_reel" align="center">
                <a href="#"><img src="{{ STATIC_PREFIX }}images/boxing.png" alt="" /></a>
                <a href="#"><img src="{{ STATIC_PREFIX }}images/atletismo.png" alt="" /></a>
                <a href="#"><img src="{{ STATIC_PREFIX }}images/baseball.png" alt="" /></a>
                <a href="#"><img src="{{ STATIC_PREFIX }}images/basketball.png" alt="" /></a>
                <a href="#"><img src="{{ STATIC_PREFIX }}images/atletismo.png" alt="" /></a>
            </div>
        </div>
    </div>
    </section>

{% endblock %}
