{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ empresa }}{% endblock %}


{% block content %}
	<div id="company_data">
		<div id="company">
			<div class="ficha-empresa" id="data">
			    <h3>{{ articulo.nombre }}</h3>
			    <h3>Detalle</h3>
	    		<p class="items"><strong>{% trans "Familia" %}: </strong> {{ articulo.familia.nombre }}</p>
				<p class="items"><strong>{% trans "Precio Aprx." %}: </strong> {{ articulo.precio }}</p>
					<p><a href="{% url "modificar-articulo" articulo.slug %}" id="modificar-servicio">Modificar</a></p>
			</div>
		</div>
	</div>
{% endblock %}
